<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tianxinwei.project.nuomi"
    android:versionCode="1"
    android:versionName="V1.0.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.tianxinwei.project.nuomi.application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="v00iyBAlZhVhUHaa6Ds9HY4z" />

        <activity
            android:name="com.tianxinwei.project.nuomi.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tianxinwei.project.nuomi.activity.MainActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity android:name="com.tianxinwei.project.nuomi.activity.TuanAllActivity" />
        <activity android:name="com.tianxinwei.project.nuomi.activity.TuanDetailActivity" />
        <activity android:name="com.tianxinwei.project.nuomi.activity.CitySelectActivity" />
        <activity android:name="com.tianxinwei.project.nuomi.activity.MineFavoriteActivity" />
        <activity android:name="com.tianxinwei.project.nuomi.activity.MoreAboutusActivity" />
        <activity android:name="com.tianxinwei.project.nuomi.activity.GuideActivity" />
        <activity android:name="com.tianxinwei.project.nuomi.activity.SellerDetailActivity"/>
    </application>

</manifest>